.App {
  text-align: center;
}

th {
  padding: 0;
}

th div {
  background-size: contain;
  height: 48px;
  width: 48px;
}

.tile {
  position: relative;
}

.tileset {
  z-index: 0;
  width: 100%;
}

table {
  border-collapse: collapse;
}

.character {
  position: relative;
  z-index: 1;
  top: -8px;
}