.Game {
  text-align: center;
}

th {
  padding: 0;
}

th div {
  background-size: contain;
  height: 48px;
  width: 48px;
}

.Tile {
  position: relative;
}

table {
  border-collapse: collapse;
}

.capacityStyle {
    z-index: 1;
    position: relative;
    background-size: contain;
    height: 60px;
    width: 60px;
}

/*.character {
  position: absolute;
  z-index: 1;
  top: 0;
  left:11px;
}

.Player{
z-index: 1;
background-size: contain;
height: 48px;
width: 48px;
}
*/