.App {
  text-align: center;
}

th {
  padding: 0;
}

th div {
  overflow: hidden;
  height: 48px;
}

.tile {
  position: relative;
}

.tileset {
  z-index: 0;
  width: 100%;
}

table {
  border-collapse: collapse;
}

.character {
  position: absolute;
  z-index: 1;
  right: 2px;
}